body {
  background: #2980b9;
}

h1 {
  font-size: 7rem;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.pic {
  font-size: 8rem;
  margin: 0;
}
.pic + p {
  font-size: 4rem;
  margin: 0;
}

.guess {
  display: inline-block;
  margin: 2rem 0;
  border: 1px solid rgba(230, 225, 225, 0.45);
  border-radius: 4px;
  padding: 1rem;
  cursor: pointer;
}
